* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
  }
  
  #main-container {
    background-color:black;
   
  }
  
  .heading {
    font-weight: normal;
    padding: 1rem 0;
    text-transform: uppercase;
    color: #bbbdc7;
    text-align: center;
    font-size: 3rem;
    
  }
  
  .job-listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .job-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: white;
    padding: 3rem 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
  }
  
  .left-container {

    display: flex;
  }
  
  .left-container * {
    
    margin-left: 7px;
  }
  
  .right-container {
    display: flex;
  }
  
  .right-container * {
    margin-right: 10px;
    border: none;
    background-color: #178b8b;
    padding: 9px 20px;
    font-size: 0.8rem;
    color: #7eadad;
    font-weight: bold;
  }
  

  .post-details * {
    margin-right: 4px;
  }


  .post-details {
    display: flex;
    color: rgba(163, 147, 147, 0);
    font-size: 0.8rem;
  }
  
  
  
  .company-logo {
    height: 85px;
    width: 85px;
    border-radius: 50%;
  }
  
  .company {
    color: #ad957e;
    font-weight: bold;
    margin-bottom: 7px;
  }
  
  .position {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #search-functionality {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #search {
    margin-left: 4rem;
  }
  
  #search-jobs {
    border: none;
    outline: none;
    padding: 7px 15px;
    background-color: #eef9f9;
    font-weight: bold;
  }

  #jobrole {
    border: none;
    border-bottom: 1px solid #1890ff;
    padding: 7px 10px;
    background-color: #eef9f9;
    font-weight: bold;
  }
  
  #page-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
  }
  
  .pagination-btn {
    padding: 12px 15px;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 15px;
    border-color: #ff2f18;
    border-radius: 4px;
    cursor: pointer;
  }